@import "colors";
@import "breaks";

body {
    overflow-y: scroll;

    color: $contrast;
    background-color: $background;
    font-family: Arial, Helvetica, sans-serif;
    @include large {
        font-size: 20px;
    }
    @include medium {
        font-size: 18px;
    }
    @include small {
        font-size: 16px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $high-contrast;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 0.5rem;
}

p {
    margin: 1rem 0;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.25em;
}

h6 {
    font-size: 1em;
}

a {
    color: $accent;
}

.container {
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
    max-width: $large-width;
    width: 100%;
    @include medium {
        flex-direction: column;
    }
}

nav {
    min-width: 300px;
}

main {
    flex-grow: 1;
    max-width: 100%;
}

pre {
    box-sizing: border-box;
    padding: 1rem 1.4rem;
    border-radius: 5px;
    font-size: 16px;
    white-space: pre-wrap;
    background-color: rgba(0, 0, 0, 0.3) !important;
    width: 100%;
}

code,
pre {
    font-family: "Lucida Console", monospace;
    width: 100%;
    overflow-x: auto;
}

code {
    white-space: wrap;
    word-break: break-all;
}

.search-results {
    display: none;
    position: absolute;
    max-width: 500px;
    background-color: darken($background, 2);
    box-shadow: -4px -4px 16px 0 rgba(0, 0, 0, 0.3);
    list-style: none;
    padding: 1rem;
}

.search-results__item {
    margin: 1rem 0;
}

// Defines what is in a rendered page
.page-contents {
    flex: 1;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 2rem;
    }
    // bump down header sizes
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.25em;
    }

    h4 {
        font-size: 1em;
    }

    h5 {
        font-size: 1em;
    }

    h6 {
        font-size: 1em;
    }
}

model-viewer {
    width: 100%;
}

.model-grid {
    display: grid;
    width: 100%;
    max-width: 1024px;
    grid-template-columns: repeat(3, 1fr);
    > a {
        padding-bottom: 1em;
        margin: 0em 1em;
        margin-bottom: 1em;
        display: block;
        width: 1fr;
        height: 40vh;
        > model-viewer {
            height: 40vh;
        }
        &:nth-child(odd) {
            padding-top: 3em;
        }
    }
}

model-viewer::part(default-progress-mask) {
    display: none;
}

model-viewer {
    background-color: rgba(0, 0, 0, 0.1) !important;
    border-radius: 5px;
    --poster-color: transparent !important;
    --progress-mask: transparent !important;
    --progress-bar-color: rgba(255, 255, 255, 0.4);
}

.discord {
    color: $high-contrast;
    text-decoration: none;
    background-color: rgba(54, 57, 63, 0.5);
    display: flex;
    padding: 1em;
    width: 100%;
    gap: 1em;
    border-radius: 0.5em;
    box-shadow: -1px 1px 8px rgba(0, 0, 0, 0.3);
    margin: 2em 0;
    //border: 1px solid rgba(255, 255, 255, 0.1);
    .image > img {
        border-radius: 1000px;
        max-width: 2.5em;
    }
    .text {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        .status {
            display: flex;
            align-items: center;
            gap: 1em;
            .name {
                font-weight: bold;
                margin: 0;
            }
            .date {
                font-size: 0.8em;
                opacity: 0.5;
            }
        }
        .body {
            margin: 0;
        }
    }
}
