$small-width: 480px;
$medium-width: 768px;
$large-width: 1280px;

@mixin small {
    @media only screen and (max-width: #{$small-width - 1px}) {
        @content;
    }
}

@mixin medium {
    @media only screen and (max-width: #{$medium-width - 1px}) {
        @content;
    }
}

@mixin large {
    @media only screen and (min-width: #{$large-width}) {
        @content;
    }
}
