{% import "macros.html" as m %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if title %}{{title}}{% endif %}</title>
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <div class="container">
        <nav>
            <a href="/">
                <h3>{{config.title}}</h3>
            </a>
            {% if config.extra.nav.search %}
            <div class="search-container">
                <input id="search" type="search" placeholder="🔎 Search">
            </div>
            {% endif %}
            <div class="search-results">
                <div class="search-results__items"></div>
            </div>
            <hr>

            <div class="links">

                {% if config.extra.nav.links %}
                {% for link in config.extra.nav.links %}
                <a href="{{link.path}}">{{link.name}}</a>
                {% endfor %}
                {% endif %}

                {% if config.extra.nav.categories %}

                {% for category in config.extra.nav.categories %}
                {% set section = get_section(path=category~"/_index.md") %}
                <a href="{{section.permalink}}">{{category}}</a>
                {% endfor %}

                {% endif %}

            </div>
            <hr>

            {% if config.extra.social %}
            <div class="social">
                {% for social in config.extra.social %}
                <a alt="{{social.site}}" rel="me" href="{{m::social_link(site=social.site, user=social.user) | trim}}"
                    target="_blank">{{
                    m::icon(name=social.site)
                    }}</a>
                {% endfor %}
            </div>
            {% endif %}

            {% if config.extra.nav.content %}
            <hr>
            {{ config.extra.nav.content | safe }}
            {% endif %}
        </nav>
        <main>
            {% block content %}
            {% endblock content %}
        </main>
    </div>
    <script src='{{ get_url(path="/elasticlunr.min.js") }}'></script>
    <script type="text/javascript" src='{{ get_url(path="search_index.en.js") }}'></script>
    <script src='{{ get_url(path="/js/search.js") }}'></script>
</body>

</html>