{% extends "base.html" %}

{% block content %}

{% set feed = [] %}
{% if config.extra.feed %}
{% set feed = load_data(url=config.extra.feed, format="xml") %}
{% set feed = feed.root.pages %}
{% endif %}

{% set pages = section.pages | concat(with=feed) | sort(attribute="date") | reverse %}

{% for page in pages %}
<div>
    <a href="{%if page.permalink%}{{page.permalink}}{%else%}{{page.id}}{%endif%}" target="_blank">
        <h5 class="hover-link">{{page.title}}</h5>
    </a>
    <br>
    <time datetime='{{ page.date }}'>{{ page.date | date(format="%Y-%m-%d") }}</time>
    {% if page.description %}<p>{{ page.description | safe }}</p>{% endif %}
</div>
<hr>

{% endfor %}
{% endblock content %}